<h2>Add an Event</h2>
<form action="/createReference" method="POST">
  <div>
    <label class="form-label">
      Event Name:
      <input class="form-control" type="text" name="eventName" placeholder="Enter event name" required/></input>
    </label>
  </div>

  <div>
    <label class="form-label">
      Description:
      <input class="form-control" type="text" name="eventDescription" /></input>
    </label>
  </div>

  <div>
    <label class="form-label">
      Date:
      <input class="form-control" type="date" name="date" required/></input>
    </label>
  </div>

  <div>
    <label class="form-label">
      Time:
      <input class="form-control" type="time" name="time" required></input>
    </label>
  </div>

  <div>
    <label class="form-label">
      RSVP Deadline:
      <input class="form-control" type="datetime-local" name="rsvpDeadline"></input>
    </label>
  </div>

  <div>
    <label class="form-label">
      UserID:
      <input class="form-control" type="text" name="userID" /></input>
    </label>
  </div>

  <div>
    <label class="form-label">
      Venue:
      <select class="form-control" name="venueID" required>
        <option value="" disabled selected>Select a venue</option>
        <% venues.forEach(function(venue) { %>
          <option value="<%= venue.venueID %>"><%= venue.venueName %></option>
        <% }); %>
      </select>
    </label>
  </div>
  
  <button class="btn btn-primary" type="submit">Create</button>
</form>
