/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.card {
  height: 100%;
  transition: box-shadow 0.3s ease-in-out;
}

.card a {
  opacity:  0;
}

.card:hover a, .card a:focus {
  opacity:  100;
}